*.gd      text eol=lf diff=gdscript
*.tscn    text eol=lf
*.tres    text eol=lf
*.json    text eol=lf
*.md      text eol=lf
*.replay  text eol=lf
*.glb     binary
*.png     binary
*.ogg     binary
*.wav     binary
